@import "../../../Mixin.scss";
@import "../../../Mixin.scss";

.editProfileModal {
  top: 0;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  .ant-tabs-top > .ant-tabs-nav {
    margin: 0;
  }
  .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none;
  }
  .ant-tabs-tab-btn {
    color: $black;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $black;
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab:not(:last-of-type) {
    margin: 0;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    padding: 0.5rem;
    background-color: inherit;
    border: 2px solid transparent;
    border-style: none none solid;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
    border: 2px solid $black;
    border-style: none none solid;
  }
  .ant-tabs-content-holder {
    margin-left: 4px;
  }
  .ant-modal-content {
    height: 100%;
    @include tabletP {
      top: 15vh;
      height: 75vh;
    }
    @include desktop {
      width: 35vw;
      height: 35vw;
    }
    .ant-modal-body {
      height: calc(100% - 110px);
      overflow: auto;
      padding: 0;
      .ant-input-affix-wrapper,
      .ant-input-affix-wrapper:hover,
      .ant-input-affix-wrapper:focus,
      .ant-input-affix-wrapper-focused,
      .ant-input-number,
      .ant-input-number:hover,
      .ant-input-number-focused,
      .ant-input:hover,
      .ant-input:focus {
        border-color: $lightGrey;
        box-shadow: none;
      }
      .editProfileCollapse {
        .editProfilePanel {
          background-color: $white;
        }
      }
      .ant-collapse-content-box {
        padding: 0 13px 16px;
      }
      .ant-collapse-header {
        font-weight: 500;
      }
      .servicePriceDescription {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 16px 0 0 0;
        align-items: baseline;
        .serviceNameInput {
          width: 57.5%;
          margin-right: 2.5vw;
          @include tabletP {
            width: 50%;
          }
          @include tabletL {
            width: 37.5%;
          }
        }
        .servicePriceInput {
          margin-right: 2.5vw;
          @include tabletP {
            margin-right: 1.25vw;
          }
        }
        .serviceDescriptionInput {
          width: 100vw;
          @include tabletP {
            width: 70%;
          }
          @include tabletL {
            width: 52.5%;
          }
        }
        .ant-form-item .ant-input-number-handler-wrap {
          display: none;
        }
      }
      .dividerInServiceAndPrice {
        margin: 0;
        width: 100vw;
        background-color: $lightGrey;
      }
      .ant-form .ant-form-item {
        .addServiceTypeBtn {
          margin: 18px 0 8px;
          color: $black;
          border-color: $black;
          width: 90vw;
          @include tabletP {
            width: 100%;
          }
        }
        .addServiceTypeBtn:after {
          box-shadow: none !important;
        }
      }
      .ant-form-item-explain > :nth-child(even) {
        display: none;
      }
      .formItemAddServiceTypeBtn {
        margin-bottom: 0;
      }

      // HoursForm in Edit Profile
      .editHours {
        .ant-slider {
          margin: 4px 0;
          @include tabletP {
            width: 120%;
            top: 32px;
            left: -80px;
          }
        }
        .ant-checkbox-wrapper:hover .ant-checkbox-inner {
          border-color: $lightGrey;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
          background-color: $black;
          border-color: $black;
        }
        .ant-checkbox-checked:after {
          border-color: $black;
        }
        .ant-form-item-control-input {
          min-height: 0;
        }
        .hoursFormItem {
          margin: 0 0 0 4px;
        }
        .ant-form-item .ant-form-item-label {
          padding: 0;
          @include tabletP {
            text-align: left;
          }
        }
        .ant-form-item .ant-form-item-label > label {
          font-weight: 600;
          padding-left: 4px;
        }
        .singleDaySliderCheckbox {
          position: relative;
          display: block;
          @include tabletP {
            margin: 8px auto;
            padding-bottom: 16px;
          }
        }
        .dayInHoursForm {
          display: block;
          width: 50px;
          font-size: 16px;
          font-weight: bold;
        }
        .timeInHoursForm {
          display: block;
        }
        .formattedTimesInSpan {
          position: absolute;
          top: 6px;
          left: 60px;
          @include tabletP {
            width: 100px;
          }
        }
        .hoursCheckbox {
          position: absolute;
          right: 4px;
        }
        .ant-slider-rail {
          height: 3px;
          background-color: $lightGrey;
        }
        .ant-slider-track {
          background-color: $black;
          height: 3px;
        }
        .ant-slider-handle {
          border: solid 1px $black;
          background-color: $black;
          width: 10px;
          height: 10px;
          margin-top: -4px;
        }
      }

      // AddressPhoneForm in Edit Profile
      .addressPhoneForm {
        .ant-form-item .ant-form-item-label {
          padding: 0;
        }
      }

      // WorksForm in Edit Profile
      .worksForm {
        .ant-upload-picture-card-wrapper::before,
        .ant-upload-list::before,
        .ant-upload-picture-card-wrapper::after {
          content: none;
        }
        .ant-upload-list {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
        }
        .ant-upload-list-picture-card-container {
          display: inline-block;
          box-sizing: border-box;
          text-align: center;
          margin: 0.75rem calc((100% - 81.25vw) / 4);
          width: 40.625vw;
          height: 40.625vw;
          @include tabletP {
            margin: 0.5rem calc((100% - 0.75 * 81.25vw) / 4);
            width: 0.75 * 40.625vw;
            height: 0.75 * 40.625vw;
          }
          @include tabletL {
            margin: 0.5rem calc((100% - 45vw) / 4);
            width: 22.5vw;
            height: 22.5vw;
          }
        }
        .ant-upload-list-picture .ant-upload-list-item,
        .ant-upload-list-picture-card .ant-upload-list-item {
          padding: 0;
          width: 40.625vw;
          height: 40.625vw;
          @include tabletP {
            width: 0.75 * 40.625vw;
            height: 0.75 * 40.625vw;
          }
          @include tabletL {
            width: 22.5vw;
            height: 22.5vw;
          }
        }

        .ant-upload.ant-upload-select-picture-card {
          margin: 0.75rem calc((100% - 81.25vw) / 4);
          width: 40.625vw;
          height: 40.625vw;
          @include tabletP {
            margin: 0.5rem calc((100% - 0.75 * 81.25vw) / 4);
            width: 0.75 * 40.625vw;
            height: 0.75 * 40.625vw;
          }
          @include tabletL {
            margin: 0.5rem calc((100% - 45vw) / 4);
            width: 22.5vw;
            height: 22.5vw;
          }
        }
      }
    }
    .ant-modal-footer {
      border-top: 0;
      padding: 0;
      .saveBtnInEditProfile {
        background-color: $black;
        color: $white;
        width: 100%;
        height: 55px;
        border: none;
      }
    }
    .ant-modal-close,
    .ant-modal-close-x {
      color: $grey;
      background-color: $white;
      line-height: 1;
      width: 18px;
      height: 18px;
      top: 18px;
      right: 16px;
    }
  }
}

.workModalInEditProfile {
  max-width: 100%;
  .ant-modal-content {
    margin: 0 auto;
    width: 100vw;
    height: 100vw;
    @include tabletP {
      width: 50vw;
      height: 50vw;
    }
    @include desktop {
      width: 35vw;
      height: 35vw;
    }
  }
  .ant-modal-body {
    width: inherit;
    height: inherit;
    padding: 10px;
    .workImgInModal {
      width: calc(100vw - 20px);
      height: calc(100vw - 20px);
      @include tabletP {
        width: calc(50vw - 20px);
        height: calc(50vw - 20px);
      }
      @include desktop {
        width: calc(35vw - 20px);
        height: calc(35vw - 20px);
      }
    }
  }
  .ant-modal-close,
  .ant-modal-close-x {
    color: $grey;
    background-color: $white;
    line-height: 1;
    width: 18px;
    height: 18px;
    top: 10px;
    right: 10px;
  }
}
