// Mixin
@import './Mixin.scss';

// Main view
@import './view/MainView/MainView.scss';

// Common components
@import './commonComponents/NavBar.scss';
@import './commonComponents/SearchBar.scss';
@import './commonComponents/ScheduleCard.scss';

// Designer List view
@import './view/designerListView/DesignerListView.scss';
@import './view/designerListView/DesignerCardComponent/DesignerCardComponent.scss';
@import './view/designerListView/designerListFilter/DesignerListFilter.scss';

// Client Schedule view
@import './view/clientScheduleView/ClientScheduleView.scss';

.layout {
  background-color: white;
}

.outerContent {
  padding: 0;

  @include tabletP {
    padding: 0 50px;
  }
}
