@import "./View/MainView/MainView.scss";
@import "./CommonComponents/NavBar.scss";
@import "./View/DesignerListView/DesignerListView.scss";
@import "./CommonComponents/searchBar/SearchBar.scss";
@import "./CommonComponents/searchBar/DesignerTypeCarousel.scss";
@import "./view/designerListView/DesignerCardComponent/DesignerCardComponent.scss";
@import "./view/designerListView/designerListFilter/DesignerListFilter.scss";

.header{
    z-index: 1;
}

.outerContent {
    padding: 0;

    @include tabletP{
        padding: 0 50px;
    } 
}