$red: #ff0000;
$blue: #0000ff;
$yellow: #ffff00;
$orange: #ffa500;
$green: #00ff00;
$white: #fdfdfd;
$black: #1b1b1b;

@mixin mobileM {
  @media only screen and (min-width: 375px) {
    @content;
  }
}

@mixin mobileL {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin tabletP {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin tabletL {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// for making DesignerCardComponent responsive
@mixin designerCard {
  @media only screen and (min-width: 571px) {
    @content;
  }
}

@mixin designerCard1240 {
  @media only screen and (min-width: 1240px) {
    @content;
  }
}

// for making client profile form responsive
@mixin clientProfile576 {
  @media only screen and (min-width: 576px) {
    @content;
  }
}
