@import "../../Mixin.scss";

.ant-layout-header {
  padding: 2.5% 5%;

  @include tabletP {
    padding: 10px 10%;
  }
}

// header
#header {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

// search bar section

// annoucement section
.announcementSection {
  padding-top: 20px;
  height: 370px;

  .announcements {
    width: 100%;
    height: 300px;
    line-height: 300px;
    text-align: center;
  }
}

// info card section
.infoCardsSection {
  height: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #11264f;

  .infoCard {
    margin: 5px 0;
    object-fit: scale-down;
    width: 95%;
    max-width: 350px;
    max-height: 335px;

    .img {
      object-fit: scale-down;
    }
  }
}

// new designer section
.newDesignersSection {
  padding: 20px 0;
  height: 470px;

  .newDesignerText {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
  }

  .slick-slide {
    margin: 0 20px;
  }
}

// footer
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}
