@import "../../Mixin.scss";

.searchBarSectionDesktopImg {
  display: none;
  z-index: 1;

  @include tabletP {
    display: block;
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  @include desktop {
    width: 1130px;
  }
}

// search bar section
.searchBarSection {
  width: 100%;
  height: 450px;


  @include tabletP {
    height: 600px;
  }

  .searchBarSectionImg {
    object-fit: cover;
    position: absolute;
    height: 450px;
    @include tabletP {
      display: none;
    }

    // hide timer
    .awssld__timer {
      --timer-height: 0px;
      opacity: 0;
      pointer-events: none; /* prevent events (mouse clicking etc.) */
    }
  }
  #searchBarForm {
    border-top: 1px solid transparent;
    top: 0;

    @include desktop {
      width: 1130px;
    }

    #mainSearchBar {

      @include desktop {
        width: 1130px;
      }

      .ant-input-group{
        z-index: 3;
      }
    }
  }
}

.stickedSearchBarOnNav {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}

// joinUs section

.joinUs {
  width: 100vw;
  margin-top: 10%;
  background: #000000;

  @include desktop {
    width: 1130px;
    margin-top: 5%;
  }

  .joinUsTopLine {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
    font-weight: bold;
    font-size: 22px;
    color: white;
  }

  .joinUsBottomLine {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
    color: white;
  }

  .joinUsBottom {
    padding-left: 20px;
    padding-bottom: 20px;

    .joinUsBtn {
      text-align: center;
      width: auto;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 8px;
      padding: 7px 15px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      color: white;
    }
  }

  .joinUsImg {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .joinUsImgGroup {
    width: 100%;
    display: flex;
    justify-content: center;

    .imgWrapper {
      padding: 2%;
      width: 33.3%;
      .joinUsImgS {
        width: 100%;
      }
      .imgDescription {
        margin-top: 10px;
        color: white;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

// info card section
.infoCardsSection {
  margin: 10%;
  @include tabletP {
    display: flex;
    justify-content: center;
  }

  .infoCard {
    margin: 15px;
    object-fit: scale-down;
    max-width: 334px;
    max-height: 335px;

    @include tabletL {
      margin: 15px 60px;
    }

    .ant-card-cover {
      max-width: 334px;
      max-height: 216px;
      overflow: hidden;
    }
  }
}

.newDesignerMobileSection {
  @include tabletP {
    display: none;
  }
}

// new designer desktop section
.newDesignersDesktopSection {
  padding: 0 5%;
  margin-bottom: 5vh;
  margin-top: 10%;

  @include tabletP {
    display: block;
  }
  @include mainPageNewDesigners1090 {
    display: flex;
  }

  .newDesignersHeading {
    padding: 0 50px;
  }

  .headerSection {
    text-align: center;
    margin-bottom: 5vh;
    @include mainPageNewDesigners1090 {
      text-align: left;
      display: block;
      width: 30%;
      margin-right: 10%;
    }

    .topLine {
      font-size: 25pt;
      font-weight: 500;
      margin-bottom: 2%;
    }

    .bottomLine {
      font-weight: 300;
      margin: 0 auto;
      @include tabletP {
        width: 660px;
      }

      @include mainPageNewDesigners1090 {
        width: 100%;
      }
    }
  }

  .newDesignersHeaderSmallDesktopSection {
    font-size: 30pt;
    font-weight: 500;
    @include mainPageNewDesigners1090 {
      display: none;
    }
  }

  .imagesSection {
    width: 100%;
    @include mainPageNewDesigners1090 {
      width: 70%;
    }

    .designerImagesRow {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      justify-content: center;
      @include mainPageNewDesigners1090 {
        justify-content: flex-end;
      }

      .newDesignerCard {
        margin-right: 20px;
        width: 150px;
        height: 150px;
        padding: 0;

        + div:nth-last-child(-n + 2) {
          display: none;
          @include mainPageNewDesigners1090 {
            display: unset;
          }
        }

        + div:nth-child(2) {
          margin-right: 0px;
          @include mainPageNewDesigners1090 {
            margin-right: 20px;
          }
        }

        + div:last-child {
          margin-right: 0px;
        }

        .designerImage {
          width: 150px;
          height: 150px;
        }

        .ant-card-body {
          padding: 0;
        }
      }
    }
  }
}

// footer

//.bookitoFooter {
//  background-color: #d9d9d9;
//  color: #484848;
//  .footerTitle {
//    color: #222222;
//    font-size: 12px;
//    margin-bottom: 0;
//    text-transform: uppercase;
//  }
//}

// footer
.footer {
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
}
