.searchBarSectionDesktopImg {
  display: none;

  @include tabletP {
    display: block;
    position: absolute;
    height: 700px;
    object-fit: cover;
  }

  @include desktop {
    width: 1130px;
  }
}

// search bar section
.searchBarSection {
  width: 100%;
  height: 450px;


  @include tabletP {
    height: 700px;
  }

  .searchBarSectionImg {
    object-fit: cover;
    position: absolute;
    height: 450px;
    @include tabletP {
      display: none;
    }
  }

  #searchBarForm {
    border: 1px solid #fdfdfd;
    z-index: 2;

    #mobileSearchBar {
      margin-top: 10%;
      z-index: 2;

      .ant-input-affix-wrapper {
        z-index: 2;
      }
    }
  }
}

.stickedSearchBarOnNav {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}

// info card section
.infoCardsSection {
  margin: 10%;
  @include tabletP {
    display: flex;
    justify-content: center;
  }

  .infoCard {
    margin: 15px;
    object-fit: scale-down;
    max-width: 334px;
    max-height: 335px;

    @include tabletL {
      margin: 15px 60px;
    }

    .ant-card-cover {
      max-width: 334px;
      max-height: 216px;
      overflow: hidden;
    }
  }
}

.newDesignerMobileSection {
  @include tabletP {
    display: none;
  }
}

// new designer desktop section
.newDesignersDesktopSection {
  padding: 0 5%;
  margin-bottom: 5vh;

  @include tabletP {
    display: block;
  }
  @include mainPageNewDesigners1090 {
    display: flex;
  }

  @include desktop {
    padding: 0 10%;
  }

  .newDesignersHeading {
    padding: 0 50px;
  }

  .headerSection {
    text-align: center;
    margin-bottom: 5vh;
    @include mainPageNewDesigners1090 {
      text-align: left;
      display: block;
      width: 30%;
    }

    .topLine {
      font-size: 30pt;
      font-weight: 500;
    }

    .bottomLine {
      font-weight: 300;
      margin: 0 auto;
      @include tabletP {
        width: 660px;
      }

      @include mainPageNewDesigners1090 {
        width: 100%;
      }
    }
  }

  .newDesignersHeaderSmallDesktopSection {
    font-size: 30pt;
    font-weight: 500;
    @include mainPageNewDesigners1090 {
      display: none;
    }
  }

  .imagesSection {
    width: 100%;
    @include mainPageNewDesigners1090 {
      width: 70%;
    }

    .designerImagesRow {
      width: 100%;
      display: flex;
      margin-top: 20px;
      justify-content: center;
      @include mainPageNewDesigners1090 {
        justify-content: flex-end;
      }

      .newDesignerCard {
        margin-right: 20px;
        width: 150px;
        height: 150px;
        padding: 0;

        + div:nth-last-child(-n + 2) {
          display: none;
          @include mainPageNewDesigners1090 {
            display: unset;
          }
        }

        + div:nth-child(2) {
          margin-right: 0px;
          @include mainPageNewDesigners1090 {
            margin-right: 20px;
          }
        }

        + div:last-child {
          margin-right: 0px;
        }

        .designerImage {
          width: 150px;
          height: 150px;
        }

        .ant-card-body {
          padding: 0;
        }
      }
    }
  }
}

// footer
.footer {
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
}
