.designerCardTopRightTypes {
    margin: 5px 0px;

    .designerCardTopRightType {
        border: 1px solid gray;
        border-radius: 20px;
        padding: 5px;
        margin: 5px;
    }
}

.designerCardTopRightMinutes {
    padding: 5px;
}