@import "../../Mixin.scss";

#logoFont {
  margin-top: 20px;
  margin-bottom: 0;
  text-decoration: none;
  font-size: x-large;
  font-weight: 700;
}


.menuBtn {

  .ant-btn:hover {
    color: $black;
    border-color: $black;

  }

  .ant-btn:focus {
    color: $black;
    border-color: $black;
  }

}

.loginModal {
  width: 100vw;
  height: 100vh;
  top: 0;
  margin: 0;

  .ant-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
  }

  .ant-modal-content {
    width: 100vw;
    height: 100vh;
    vertical-align: middle;

    .ant-divider-horizontal {
      width: 280px;
      min-width: unset;
      vertical-align: middle;
      display: inline-block;
      margin: 0;
    }

    .ant-modal-body {
      text-align: center;
      padding: 0;

      .loginModalContainer {
        background-color: rgb(244, 244, 244);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        // @include mobileM {
        //   .loginBtn {
        //     box-sizing: border-box;
        //     position: relative;
        //     /* width: 13em;  - apply for fixed size */
        //     margin: 0.2em;
        //     padding: 0 15px 0 46px;
        //     border: none;
        //     text-align: left;
        //     white-space: nowrap;
        //     border-radius: 0.2em;
        //     font-size: 16px;
        //     color: #fff;
        //   }
        //   .loginBtn:before {
        //     content: "";
        //     box-sizing: border-box;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 34px;
        //     height: 100%;
        //   }
        //   .loginBtn:focus {
        //     outline: none;
        //   }
        //   .loginBtn:active {
        //     box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
        //   }

        //   /* Facebook */
        //   .loginBtn--facebook {
        //     background-color: #4c69ba;
        //     background-image: linear-gradient(#4c69ba, #3b55a0);
        //     /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
        //     text-shadow: 0 -1px 0 #354c8c;
        //     align-content: center;
        //   }
        //   .loginBtn--facebook:before {
        //     border-right: #364e92 1px solid;
        //     background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
        //       6px 6px no-repeat;
        //   }
        //   .loginBtn--facebook:hover,
        //   .loginBtn--facebook:focus {
        //     background-color: #5b7bd5;
        //     background-image: linear-gradient(#5b7bd5, #4864b1);
        //   }

        //   /* Google */
        //   .loginBtn--google {
        //     /*font-family: "Roboto", Roboto, arial, sans-serif;*/
        //     background: #dd4b39;
        //     align-content: center;
        //   }
        //   .loginBtn--google:before {
        //     border-right: #bb3f30 1px solid;
        //     background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
        //       6px 6px no-repeat;
        //   }
        //   .loginBtn--google:hover,
        //   .loginBtn--google:focus {
        //     background: #e74b37;
        //   }
        // }
        .loginModalContent {
          width: 320px;
          height: 320px;
          background-color: white;
          box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.19);
          padding: 5px 20px;

          .loginBtnContainer {
            justify-content: center;
            align-items: center;
            margin: 20px 0;

            .loginBtn {
              width: 280px;
              background-color: white;
              border-radius: 5px;
              border: 1px solid rgba(0, 0, 0, 0.3);
              text-align: left;
              display: flex;
              padding: 5px 0;
              margin: 15px 0;

              .loginBtnLogo {
                width: 22px;
                height: 22px;
                margin-left: 8px;
                margin-right: 24px;
              }
            }
          }
        }

        .loginMessageContainer {
          text-align: left;
          margin: 10px 0;

          #loginMessageHeader {
            font-size: large;
            font-weight: 500;
            margin: 0;
          }

          #loginMessage {
            font-size: small;
          }
        }
      }

      @include mobileL {
      }

      @include tabletP {
      }

      @include tabletL {
      }

      @include desktop {
      }
    }
  }
}
