@import "../../Mixin.scss";

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 18px;
    // height: 18px;
    // background-color: #000;
    // border: 2px solid #fff;
    // border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.map {

}

.markerButton {
    background: #5e5546 !important;
    border-color: transparent !important;
    &:focus {
        background: #332C1E !important;
    }
    .ant-btn-background-ghost {
        border: none !important;
    }
}

.designerPopover {
    .popoverContent {
        background: whitesmoke;
    }
    .ant-popover-arrow {
        visibility: hidden;
    }
    .ant-popover-inner-content {
        border-radius: 15px !important;
        padding: 0 !important;
    }
    .popoverContent {
        display: flex;
        flex-direction: row;
        padding: 10px;
        @include tabletP {
            
        }
    }
}

.slick-dots  {
    bottom: 0px;

    li button:before {
        color: whitesmoke;
    }
    li.slick-active button:before {
        color:white ;
    }
}
.slick-arrow.slick-prev {
    visibility: hidden;
    left: 0px;
    z-index: 100;
}
.slick-arrow.slick-next {
    visibility: hidden;
    right: 0px;
    z-index: 100;
}
