@import "../../Mixin.scss";

// Google map hide unnecessary components
.gm-fullscreen-control {
    visibility: hidden !important;
}
.gm-style-iw-a {
    visibility: hidden !important;
}
.gm-bundled-control-on-bottom {
    top: 0 !important;
}

.mapComponent {
    height: 100vh;
    width: 100%;
    z-index: 10;
    @include desktop {
        height: 95vh;
    }
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    
    .markerButton {
        background: #5e5546 !important;
        border-color: transparent !important;
        &:focus {
            // background: #5e5546 !important;
            background: #332C1E !important;
        }
        .ant-btn-background-ghost {
            border: none !important;
        }
    }
}

.designerPopover {
    padding-bottom: 0 !important;   // Elimiates bottom padding, and in part hides bottom arrow on marker Popover
    top: 69.5vh !important;         // Determines the location of the modal in mobile

    @include tabletP {
        padding-bottom: 10;
    }

    .popoverContent {
        display: flex;
        flex-direction: row;
        padding: 10px;
        background: whitesmoke;

        @include tabletP {
            z-index: 10;
        }

        .markerCarousel {
            width: 135px;
            height: 135px;
            @mixin mobileM {
                width: 170px;
                height: 170px;
            }
            img {
                object-fit: cover;
                width: 135px;
                height: 135px;
                @mixin mobileM {
                    width: 170px;
                    height: 170px;
                }
            }
        }
    }
    
    // Popover (desktop)
    .ant-popover-arrow {
        visibility: hidden; // Hides bottom arrow on marker Popover
    }
    .ant-popover-inner-content {
        border-radius: 15px !important;
        padding: 0 !important;
    }

    // Modal (mobile)
    .ant-modal-close-x {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .ant-modal-body {
        padding: 0;
    }

    // Carousel
    .slick-dots  {
        bottom: 0px;
    
        li button:before {
            color: whitesmoke;
        }
        li.slick-active button:before {
            color:white ;
        }
    }
    .slick-arrow.slick-prev {
        left: 0px;
        z-index: 1;
    }
    .slick-arrow.slick-next {
        right: 0px;
        z-index: 1;
    }
}
