@import "../../Mixin.scss";

// Google map hide unnecessary components
.gm-fullscreen-control {
    visibility: hidden !important;
}
.gm-style-iw-a {
    visibility: hidden !important;
}
.gm-bundled-control-on-bottom {
    top: 0px !important;
}

.mapComponent {
    height: 100vh; // NECESSARY TO DISPLAY MAP
    width: 100%;   // NECESSARY TO DISPLAY MAP
    z-index: 10;
}

.markerOuter {
    position: absolute;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    
    .markerButton {
        background: #5e5546 !important;
        border-color: transparent !important;
        &:focus {
            // background: #5e5546 !important;
            background: #332C1E !important;
        }
        .ant-btn-background-ghost {
            border: none !important;
        }
    }
}

.markerInner {
    padding-bottom: 0px;   // Elimiates bottom padding, and in part hides bottom arrow on marker Popover

    @include tabletP {
        padding-bottom: 10px;
    }
    
    // Popover (desktop)
    .ant-popover-arrow {
        visibility: hidden; // Hides bottom arrow on marker Popover
    }
    .ant-popover-inner-content {
        border-radius: 15px !important;
        padding: 0px !important;
    }

    // Modal (mobile)
    .ant-modal-close-x {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .ant-modal-body {
        padding: 0px;
    }

    // Carousel
    .slick-dots  {
        bottom: 0px;
    
        li button:before {
            color: whitesmoke;
        }
        li.slick-active button:before {
            color:white ;
        }
    }
    .slick-arrow.slick-prev {
        left: 0px;
        z-index: 1;
    }
    .slick-arrow.slick-next {
        right: 0px;
        z-index: 1;
    }
}

.markerContent {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: whitesmoke;

    .markerCarousel {
        width: 135px;
        height: 135px;
        @include mobileM {
            width: 170px;
            height: 170px;
        }
        @include tabletP {
            width: 180px;
            height: 180px;
        }
        img {
            object-fit: cover;
            width: 135px;
            height: 135px;
            @include mobileM {
                width: 170px;
                height: 170px;
            }
            @include tabletP {
                width: 180px;
                height: 180px;
            }
        }
    }

    .markerDescription {
        margin-left: 10px;

        .markerDescriptionUpper {
            overflow: auto;
            height: 80px;

            @include tabletP {
                height: 100px;
                width: 180px;
            }

            .markerDescriptionName {
                color: #332C1E;
                margin-bottom: 3px;
            }
            .markerDescriptionDistance {
                color: #332C1E;
                margin-bottom: 7px;
            }
        }

        .markerDescriptionLower {
            overflow: auto;
            height: 54px;

            @include tabletP {
                height: 81px;
                width: 180px;
            }
            .serviceTag {
                margin-right: 6px;
                margin-bottom: 4px;
                border-radius: 20px;
                border-color: lightgray;
            }
        }
    }
}
