.yourAppointments {
    font-size: 36pt;
}

.clientScheduleTabs .ant-tabs-nav {

    .ant-tabs-tab {
        font-size: 15pt;
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
        color: black;
    }

    .ant-tabs-nav-list .ant-tabs-ink-bar {
        background: black;
    }


}