@import "../../Mixin.scss";

// Fade in effect
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Profile Layout Shared
%profile-layout-shared {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.5;
  background-color: $white;
  position: relative;
  width: 100%;
  box-shadow: unset;
}

// Designer Profile View
.designerProfileView {
  @extend %profile-layout-shared;
  @include tabletP {
    width: 90%;
    margin: 0 auto;
  }
  // Designer Top
  .designerTop {
    background-color: $black;
    color: $white;
    text-align: left;
    .designerProfile {
      display: flex;
      align-items: center;
      padding: 0.5rem 0 0 0.5rem;
      .designerNameRateLocation {
        margin: 0 0 0 16px;
        .ant-rate {
          font-size: 1rem;
          line-height: 1;
          .ant-rate-star {
            margin: 0 1px 0 0;
          }
          &-star {
            > div {
              &:hover {
                transform: scale(1);
              }
            }
          }
        }
      }
      h2 {
        color: $white;
        margin: 0;
      }
      p {
        padding: 0;
        margin: 0;
      }
      .designerProfileImage {
        border: 1px solid $white;
      }
    }

    // Designer Top - Navigation
    .designerNav {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 75vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .designerNavItem {
        margin: 0 0.2rem 0 0;
        a {
          color: $white;
        }
        a:hover,
        a:active,
        a.active {
          font-weight: 600;
          padding-bottom: 4px;
          border-bottom: 2px solid $white;
        }
      }
    }
    #tabWithButton {
      margin: 0;
      padding: 0.5rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      background-color: $black;
      .buttonInProfileLayoutTab {
        background-color: $white;
        color: $black;
        margin: 0 0.2rem 0 0;
        padding: 0.2rem;
      }
      .buttonInProfileLayoutTab:active,
      .buttonInProfileLayoutTab:hover,
      .buttonInProfileLayoutTab:focus {
        border: $white;
      }
    }
  }

  // Designer Bottom
  .designerBottom {
    margin-top: 0.5rem;
    border: 0;
    .profileDivider {
      background-color: $lightGrey;
      height: 1px;
    }
    // Designer Bottom - Works
    .works {
      .workGalleryContainer {
        text-align: left;
        width: 320px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        .workImgDiv {
          display: inline-block;
          margin: 10px 15px 10px 15px;
          box-sizing: border-box;
          text-align: center;
          img {
            width: 130px;
            height: 130px;
          }
          img:hover {
            cursor: pointer;
            opacity: 0.75;
          }
        }
      }
    }

    // Designer Bottom - Price & Hours Grid
    .serviceNPriceHoursGrid {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 auto;
      .profileDivider {
        display: none;
      }
    }
    .serviceNPriceGrid,
    .hoursGrid {
      width: 100%;
    }

    .serviceNPrice,
    .hours {
      table,
      th,
      td {
        padding: 1rem;
        margin: 0 auto;
      }
    }

    // Designer Bottom - ReviewContainer
    .reviews {
      position: relative;
    }

    // Designer Bottom - Review
    .review {
      margin: 1.5rem auto;
      padding: 0;
      text-align: left;
      position: relative;

      .reviewHeader {
        display: flex;
        align-items: center;
        padding: 0.25rem 0;

        .reviewCustomerNrate {
          display: flex;
          align-items: center;
        }

        .reviewCustomer {
          flex-shrink: 0;

          font-size: larger;
          font-weight: bold;
          width: fit-content;
        }

        .reviewRate {
          width: 100px;
          text-align: center;
          flex-shrink: 0;
        }

        .reviewGalleryContainer {
          padding: 0 0 0 1rem;
        }

        .reviewGalleryContainer {
          width: 90%;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;

          .reviewImgDiv {
            margin: 0.5rem;

            img {
              width: 50px;
              height: 50px;
            }

            img:hover {
              opacity: 0.8;
              cursor: pointer;
            }
          }
        }
      }
    }
    .reviewContent {
      display: inline-flex;
    }

    // Designer Bottom - Location
    .location {
      .googleMap {
        width: 100vw;
        height: 50vh;
        margin: 1rem auto;
        @include tabletP {
          width: 90vw;
          height: 60vh;
        }
      }
      .marker {
        color: $white;
        background-color: $black;
        padding: 15px 10px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .backTopButton {
    line-height: 40px;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    text-align: center;
    position: absolute;
    width: 100%;
    right: -8px;
    bottom: 24px;
  }
}

.workImgModal {
  .ant-modal-content {
    top: 25vh;
    margin: 0 auto;
    width: 100vw;
    height: calc(100vw + 32px);
    @include tabletP {
      width: 50vw;
      height: calc(50vw + 32px);
    }
    @include desktop {
      width: 35vw;
      height: calc(35vw + 32px);
    }
  }

  .ant-modal-body {
    padding: 12px 0 24px 0;
    width: inherit;
    height: inherit;
    .slick-slider {
      .slick-slide img {
        margin: auto;
      }
      .slick-next {
        right: 16px;
        z-index: 1;
      }
      .slick-prev {
        left: 16px;
        z-index: 1;
      }
      .slick-prev:before,
      .slick-next:before {
        color: $white;
      }
      .workImgInSlider {
        width: calc(100vw - 20px);
        height: calc(100vw - 20px);
        @include tabletP {
          width: calc(50vw - 20px);
          height: calc(50vw - 20px);
        }
        @include desktop {
          width: calc(35vw - 20px);
          height: calc(35vw - 20px);
        }
      }
    }
  }

  .ant-modal-close,
  .ant-modal-close-x {
    color: $grey;
    background-color: $white;
    line-height: 1;
    width: 18px;
    height: 18px;
    top: 12px;
    right: 10px;
  }
}

.onFinishMessage {
  width: 60vw;
  margin: 80vh auto 20vh;
  .ant-message-notice-content {
    width: 100%;
    margin: 0 auto;
  }
}