.designerProfileView {
  width: 60%;
  height: 100%;
  padding: 0.5rem;
  margin: auto;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 10px 20px 20px #dce7fc, 1px 10px 10px #dae6ff;
}

@media (max-width: 1024px) {
  .designerProfileView {
    width: 100%;
  }
}
