@import "../../Mixin.scss";

.ant-notification {
  margin: 0;
  margin-right: 85px;

  .notificationSaved {
    text-align: center;
    width: 205px;
    height: 50px;
    margin: 0;
  }
}
.ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 0;
}

.ant-form-item-control-input {
  min-height: 0;
}

.ant-form-item .ant-form-item-label {
  padding: 0;
}

.ant-slider {
  margin: 4px 0;
}

// Customized carousel
.slick-slide img {
  margin: auto;
}

.slick-next {
  right: 16px;
  z-index: 1;
}

.slick-prev {
  left: 16px;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: $white;
}

// Customized Rate component
.ant-rate {
  font-size: 1rem;
  line-height: 1;

  .ant-rate-star {
    margin: 0 1px 0 0;
  }

  &-star {
    > div {
      &:hover {
        transform: scale(1);
      }
    }
  }
}

.ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input {
  border-color: #d9d9d9;
  box-shadow: none;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #d9d9d9;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $black;
  border-color: $black;
}
.ant-checkbox-checked:after {
  border-color: $black;
}
.ant-input-affix-wrapper:hover {
  border-color: #d9d9d9;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #d9d9d9;
  box-shadow: none;
}
.ant-input-number-focused {
  border-color: #d9d9d9;
  box-shadow: none;
}
.ant-input-number:hover {
  border-color: #d9d9d9;
}
.ant-input:hover {
  border-color: #d9d9d9;
  box-shadow: none;
}
.ant-message-notice-content {
  width: 200px;
  height: 50px;
  background-color: $white;
  display: flex;
  margin: 40vh auto 0;
  font-size: large;
  justify-content: center;
  color: $black;
  align-items: center;
}

// Fade in effect
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Customized Divider
.profileDivider {
  background-color: rgb(165, 165, 165);
  height: 2px;
}

// Profile Layout Shared
%profile-layout-shared {
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  background-color: $white;
  position: relative;
}

// Designer Profile View
.designerProfileView {
  @extend %profile-layout-shared;
  width: 60%;

  // Designer Top
  .designerTop {
    @extend %profile-layout-shared;
    background-color: $black;
    color: $white;
    box-shadow: unset;
    padding: 0;
    width: 90%;
    text-align: left;

    .designerProfile {
      display: flex;
      align-items: center;
      padding: 1rem 0 0 3rem;
      .designerNameRateLocation {
        margin-left: 16px;
      }
      h2 {
        color: $white;
        margin: 0;
      }
      p {
        padding: 0;
        margin: 0;
      }
      .designerProfileImage {
        border: 1px solid $white;
      }
    }

    // Designer Top - Navigation
    .designerNav {
      margin: 0 0 0 3rem;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      .designerNavItem {
        margin: 0 1rem 0 0;
        a {
          color: $white;
        }
        a:hover,
        a:active,
        a.active {
          // color: #1890ff;
          font-weight: 600;
          padding-bottom: 4px;
          border-bottom: 2px solid $white;
        }
      }
    }

    #tabWithButton {
      margin: 0;
      padding: 0.5rem 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background-color: $black;

      .buttonInProfileLayoutTab {
        background-color: $white;
        color: $black;
        margin: 0 10px 0 0;
        padding: 4px 8px;
      }
      .buttonInProfileLayoutTab:active,
      .buttonInProfileLayoutTab:hover,
      .buttonInProfileLayoutTab:focus {
        border: $white;
      }
    }
  }

  // Designer Bottom
  .designerBottom {
    @extend %profile-layout-shared;
    width: 90%;
    margin-top: 0.5rem;
    border: 0;
    box-shadow: unset;

    .activityNBioGrid,
    .serviceNPriceHoursGrid {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 auto;

      .profileDivider {
        display: none;
      }
    }

    .activityGrid,
    .bioGrid,
    .serviceNPriceGrid,
    .hoursGrid {
      width: 50%;
    }
  }

  // Designer Bottom - Activity
  .activity {
    @extend %profile-layout-shared;
    width: 90%;

    section {
      text-align: left;
      padding: 0.5rem 1rem;
    }

    strong {
      color: salmon;
    }

    span {
      color: rgb(0, 199, 172);
      font-size: 1.2rem;
      font-weight: bolder;
    }

    .reputation {
      border: 1px solid rgb(51, 68, 161);
      display: inline-block;
      margin: 0.5rem;
      padding: 0.5rem;
      width: fit-content;
      border-radius: 25px;
      box-shadow: 0 2px 2px rgb(4, 11, 48);
    }
  }

  // Designer Bottom - Works
  .works {
    @extend %profile-layout-shared;
    width: 90%;

    .workGalleryContainer {
      text-align: left;
      width: 800px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      .workImgDiv {
        display: inline-block;
        margin: 16px 20px;
        box-sizing: border-box;
        text-align: center;

        img {
          width: 120px;
          height: 120px;
        }
        img:hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
    }
  }

  // Designer Bottom = Bio / Service & Price / Hours
  .bio,
  .serviceNPrice,
  .hours {
    @extend %profile-layout-shared;
    width: 90%;
    height: unset;
    table,
    th,
    td {
      padding: 1rem;
      margin: 0 auto;
    }
  }

  // Designer Bottom - Reviews
  .reviews {
    @extend %profile-layout-shared;
    width: 90%;
    position: relative;
  }

  // Designer Bottom - Review
  .review {
    @extend %profile-layout-shared;
    width: 100%;
    margin: 1.5rem auto;
    padding: 0;
    text-align: left;
    position: relative;

    .reviewHeader {
      display: flex;
      align-items: center;
      padding: 0.25rem 0;

      .reviewCustomerNrate {
        display: flex;
        align-items: center;
      }

      .reviewCustomer {
        flex-shrink: 0;

        font-size: larger;
        font-weight: bold;
        width: fit-content;
      }

      .reviewRate {
        width: 100px;
        text-align: center;
        flex-shrink: 0;
      }

      .reviewGalleryContainer {
        padding: 0 0 0 1rem;
      }

      .reviewGalleryContainer {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        .reviewImgDiv {
          margin: 0.5rem;

          img {
            width: 50px;
            height: 50px;
          }

          img:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }
  }

  .reviewContent {
    display: inline-flex;
  }

  // Designer Bottom - Location
  .location {
    @extend %profile-layout-shared;
    width: 90%;

    .googleMap {
      width: 35vw;
      height: 35vh;
      margin: 1rem auto;
    }

    .marker {
      color: $white;
      background-color: $black;
      padding: 15px 10px;
      display: inline-flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .backTopButton {
    line-height: 40px;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    text-align: center;
    position: absolute;
    width: 100%;
    right: -8px;
    bottom: 24px;
  }
}

@media (max-width: 1441px) {
  .designerProfileView {
    width: 100%;
    padding: 0;
    margin: 0;

    .designerTop {
      width: 100%;
      padding: 0;
      margin: 0;

      .designerProfile {
        padding: 1rem 0 0 1rem;
        h2 {
          margin: 0;
        }
        p {
          padding: 0;
          margin: 0;
        }

        .profileImage {
          border-radius: 50%;
          margin: 0 1rem 0 0;
          float: left;
          width: 50px;
          height: 50px;
        }
      }

      .designerNav {
        margin: 0 0 0 1rem;

        .designerNavItem {
          margin: 0 0.5rem 0 0;
        }
      }

      #tabWithButton {
        .Button {
          margin: 0 0.5rem 0 0;
          padding: 0 0.5rem;
        }
      }
    }

    .designerBottom {
      width: 100%;
      padding: 0;
      margin: 0;

      .works {
        width: 100%;

        .workGalleryContainer {
          text-align: left;
          width: 800px;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          padding: 0;

          .workImgDiv {
            display: inline-block;
            margin: 16px 20px;
            box-sizing: border-box;
            text-align: center;

            img {
              width: 120px;
              height: 120px;
            }
            img:hover {
              cursor: pointer;
              opacity: 0.75;
            }
          }
        }
      }

      .serviceNPriceHoursGrid {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;

        .profileDivider {
          display: none;
        }
      }

      .activityGrid,
      .bioGrid,
      .serviceNPriceGrid,
      .hoursGrid {
        width: 50%;
      }

      .reviews {
        width: 95%;
        margin: 0 auto;
        padding: 0;
      }

      .review {
        width: 100%;
        margin: 1.5rem 0;
        padding: 0;

        .reviewHeader {
          display: block;

          .reviewCustomerNrate {
            display: flex;
            align-items: center;
          }

          .reviewGalleryContainer {
            width: 100%;
            padding: 0;
          }
        }
      }
    }

    .location {
      .googleMap {
        margin: 0 auto;
        width: 75vw;
        height: 50vh;
      }
    }

    .backTopBtn {
      right: 1vw;
    }
  }
}

@media (max-width: 769px) {
  .designerProfileView .designerBottom .works .workGalleryContainer {
    text-align: left;
    width: 480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .workImgDiv {
      display: inline-block;
      margin: 16px 20px;
      box-sizing: border-box;
      text-align: center;

      img {
        width: 120px;
        height: 120px;
      }
      img:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }
  }
}

.ant-modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  margin: 0;
  // max-width: unset;
}
@include mobileM {
  .workImgModal {
    .ant-modal-content {
      margin: 165.5px 25px;
      width: 325px;
      height: 350px;
    }

    .ant-modal-body {
      padding: 12px 0 24px 0;
      width: inherit;
      height: inherit;
    }

    .ant-modal-close,
    .ant-modal-close-x {
      color: grey;
      background-color: $white;
      line-height: 1;
      width: 18px;
      height: 18px;
      top: 12px;
      right: 12px;
    }
  }

  .designerProfileView .designerBottom .works .workGalleryContainer {
    text-align: left;
    width: 340px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .workImgDiv {
      display: inline-block;
      margin: 10px;
      box-sizing: border-box;
      text-align: center;

      img {
        width: 150px;
        height: 150px;
      }
      img:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }
  }

  .designerProfileView .designerTop .designerNav {
    margin: 0 0 0 0.25rem;
  }

  .designerProfileView .designerTop .designerNav .designerNavItem {
    margin: 0 0.5rem 0 0;
  }

  .designerProfileView .designerBottom .serviceNPriceHoursGrid {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;

    .profileDivider {
      display: block;
    }
  }

  .designerProfileView .designerBottom .serviceNPriceGrid,
  .designerProfileView .designerBottom .hoursGrid {
    width: 100%;
  }

  // Edit Profile
  .editProfileModal {
    .ant-modal-content {
      .ant-modal-body {
        height: 566px;
        overflow: auto;
      }
      .ant-modal-footer {
        border-top: 0;
        padding: 0;
        .saveBtnInEditProfile {
          background-color: $black;
          color: $white;
          width: 100vw;
          height: 46px;
          margin: 0;
          padding: 0;
          border: none;
        }
      }
      .ant-modal-close,
      .ant-modal-close-x {
        color: grey;
        background-color: $white;
        line-height: 1;
        width: 18px;
        height: 18px;
        top: 18px;
        right: 16px;
      }
    }

    .ant-modal-body {
      padding: 0;
      .ant-collapse-borderless {
        background-color: inherit;
      }

      .ant-collapse-borderless
        > .ant-collapse-item
        > .ant-collapse-content
        > .ant-collapse-content-box {
        padding: 0 13px 16px;
      }

      .ant-collapse-header {
        font-weight: 500;
      }

      .ant-space {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        align-items: center;
        .serviceNameInput {
          width: 200px;
        }
        .ant-form-item .ant-input-number-handler-wrap {
          display: none;
        }
        .serviceDescriptionInput {
          width: 300px;
        }
        .removeServicePriceBtn {
          position: absolute;
          top: 10px;
          right: 4px;
        }
      }

      .ant-space:nth-child(even) {
        margin-top: 0;
        padding-top: 8px;
        // background-color: rgb(99, 171, 233);
        .removeServicePriceBtn {
          top: 16px;
        }
      }

      .ant-form .ant-form-item {
        .addServiceTypeBtn {
          margin: 18px 12px 8px;
          color: $black;
          border-color: $black;
          width: 300px;
        }
        .addServiceTypeBtn:after {
          box-shadow: none !important;
        }
      }

      .ant-form-item-explain > :nth-child(even) {
        display: none;
      }

      .formItemAddServiceTypeBtn {
        margin-bottom: 0;
      }

      // HoursForm in Edit Profile
      .editHours {
        .hoursFormItem {
          margin: 0 0 0 4px;
        }
        .ant-form-item .ant-form-item-label > label {
          font-weight: 600;
          padding-left: 4px;
        }

        .dayInHoursForm {
          display: block;
          width: 50px;
          font-size: 16px;
          font-weight: bold;
        }

        .timeInHoursForm {
          display: block;
        }

        .formattedTimesInSpan {
          position: absolute;
          top: 5px;
          left: 60px;
        }

        .hoursCheckbox {
          position: absolute;
          right: 4px;
        }
        .ant-slider-rail {
          height: 3px;
          // border-radius: 1.5px;
          background-color: #c6c6c6;
        }
        .ant-slider-track {
          background-color: $black;
          height: 3px;
        }
        .ant-slider-handle {
          border: solid 1px $black;
          background-color: $black;
          width: 10px;
          height: 10px;
          margin-top: -4px;
        }
      }

      // AddressPhoneForm in Edit Profile
      .addressPhoneForm {
        .addressPhoneFormItem {
          margin: 0 8px 12px;
        }
      }

      // WorksForm in Edit Profile
      .clearfix {
        margin: 0 0 0 3px;

        .ant-upload-list-picture-card-container {
          margin: 8px;
          width: 155px;
          height: 155px;
        }
        .ant-upload-list-picture .ant-upload-list-item,
        .ant-upload-list-picture-card .ant-upload-list-item {
          padding: 0;
          margin: 0;
          width: 155px;
          height: 155px;
        }
        .ant-upload.ant-upload-select-picture-card {
          margin: 8px;
          width: 155px;
          height: 155px;
        }
      }
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
      padding: 8px 10px;
    }

    .ant-tabs-top > .ant-tabs-nav,
    .ant-tabs-bottom > .ant-tabs-nav,
    .ant-tabs-top > div > .ant-tabs-nav,
    .ant-tabs-bottom > div > .ant-tabs-nav {
      margin: 0;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: none;
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
      background-color: $white;
      border: 2px solid transparent;
      border-style: none none solid;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $black;
    }

    .ant-tabs-card.ant-tabs-top
      > .ant-tabs-nav
      .ant-tabs-tab:not(:last-of-type) {
      margin: 0 0 0 4px;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
      border: 2px solid $black;
      border-style: none none solid;
    }

    .ant-tabs-tab-btn {
      color: $black;
    }

    .ant-tabs-content-holder {
      margin-left: 4px;
      width: 343px;
    }

    .editProfileSubmitBtn {
      float: right;
      margin: 0 16px 8px 0;
    }
  }

  .workModal {
    .ant-modal-content {
      margin: 165.5px 25px;
      width: 325px;
      height: 325px;
    }

    .ant-modal-body {
      width: inherit;
      height: inherit;
      padding: 12px 8px 12px 12px;
      .workImgInModal {
        width: 300px;
        height: 300px;
      }
    }

    .ant-modal-close,
    .ant-modal-close-x {
      color: grey;
      background-color: $white;
      line-height: 1;
      width: 18px;
      height: 18px;
      top: 12px;
      right: 13px;
    }
  }
}
