@import "../../Mixin.scss";
// Fade in effect
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Profile Layout Shared
%profile-layout-shared {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    background-color: $white;
    position: relative;
    width: 100%;
    box-shadow: unset;
}

// Designer Profile View
.designerProfileView {
    @extend %profile-layout-shared;
    @include tabletP {
        width: 90%;
        margin: 0 auto;
    }
    // Designer Top
    .designerTop {
        background-color: $black;
        color: $white;
        text-align: left;
        .designerProfile {
            display: flex;
            align-items: center;
            padding: 0.5rem 0 0 0.5rem;
            @include tabletP {
                padding: 10px;
            }
            .designerNameRateLocation {
                margin: 0 0 0 16px;
                .ant-rate {
                    font-size: 1rem;
                    line-height: 1;
                    .ant-rate-star {
                        margin: 0 1px 0 0;
                    }
                    &-star {
                        >div {
                            &:hover {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
            h2 {
                color: $white;
                margin: 0;
            }
            p {
                padding: 0;
                margin: 0;
            }
            .designerProfileImage {
                border: 1px solid $white;
            }
        }
        // Designer Top - Navigation
        .designerNav {
            font-size: 12px;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 75vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include tabletP {
                justify-content: left;
            }
            @include desktop {
                width: 60vw;
            }
            @include desktopXL {
                width: 30vw;
            }
            .designerNavItem {
                @include tabletP {
                    padding: 0 10px;
                }
                margin: 0 0.2rem 0 0;
                a {
                    color: $white;
                }
                a:hover,
                a:active,
                a.active {
                    font-weight: 600;
                    padding-bottom: 4px;
                    border-bottom: 2px solid $white;
                }
            }
        }
        #tabWithButton {
            margin: 0;
            padding: 0.5rem 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            background-color: $black;
            .buttonInProfileLayoutTab {
                font-size: 12px;
                background-color: $white;
                color: $black;
                margin: 0 0.2rem 0 0;
                padding: 0.2rem;
                @include tabletP {
                    width: 100px;
                }
            }
            .buttonInProfileLayoutTab:active,
            .buttonInProfileLayoutTab:hover,
            .buttonInProfileLayoutTab:focus {
                border: $white;
            }
        }
    }
    // Designer Bottom
    .designerBottom {
        margin-top: 0.5rem;
        border: 0;
        .profileDivider {
            background-color: $lightGrey;
            height: 1px;
        }
        // #dividerBetwnHrsPrices {
        //   @include tabletP {
        //     display: none;
        //   }
        // }
        #SelfIntroTitle {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5%;
            @include tabletP {
                margin-bottom: 2%;
            }
        }
        #selfIntroContent {
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            padding: 0 1rem 0.5rem 1.5rem;
        }
        // Designer Bottom - Works
        .works {
            width: 95%;
            margin: 0 auto;
            @include tabletP {
                width: 100%;
            }
            @include desktop {
                width: 90%;
            }
            #worksTitle {
                font-size: 20px;
                font-weight: 600;
                margin-top: 6%;
                @include tabletP {
                    margin-top: 3%;
                }
                @include tabletL {
                    margin-top: 2%;
                }
                @include desktop {
                    font-size: 25px;
                }
            }
            .workGalleryContainer {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                .workImgDiv {
                    display: inline-block;
                    box-sizing: border-box;
                    text-align: center;
                    margin: 0.75rem calc((100% - 40.625vw * 2) / 4);
                    width: 40.625vw;
                    height: 40.625vw;
                    @include tabletP {
                        margin: 0.75rem calc((100% - 27.5vw * 3) / 6);
                        width: 27.5vw;
                        height: 27.5vw;
                    }
                    @include tabletL {
                        margin: 0.75rem calc((100% - 20vw * 4) / 8);
                        width: 20vw;
                        height: 20vw;
                    }
                    @include desktop {
                        margin: 0.75rem calc((100% - 15vw * 4) / 8);
                        width: 15vw;
                        height: 15vw;
                    }
                    @include desktopXL {
                        margin: 0.75rem calc((100% - 8vw * 4) / 8);
                        width: 8vw;
                        height: 8vw;
                    }
                    img {
                        padding: 0;
                        width: 40.625vw;
                        height: 40.625vw;
                        @include tabletP {
                            width: 27.5vw;
                            height: 27.5vw;
                        }
                        @include tabletL {
                            width: 20vw;
                            height: 20vw;
                        }
                        @include desktop {
                            width: 15vw;
                            height: 15vw;
                        }
                        @include desktopXL {
                            width: 8vw;
                            height: 8vw;
                        }
                    }
                    img:hover {
                        cursor: pointer;
                        opacity: 0.75;
                    }
                }
            }
        }
        // Designer Bottom - Price & Hours Grid
        .hrsAndReviews {
            @include tabletP {
                display: flex;
            }
            .serviceNPriceHoursGrid {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0 auto;
                @include tabletP {
                    // margin-left: 0;
                }
                .profileDivider {
                    display: none;
                }
            }
            #HrsReviewDivider {
                background-color: $lightGrey;
                height: 1px;
                @include tabletP {
                    display: none;
                }
            }
        }
        .serviceNPriceGrid,
        .hoursGrid {
            width: 100%;
            #hour {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 7%;
                @include desktop {
                    margin-top: 2%;
                    font-size: 25px;
                }
            }
        }
        .serviceGrid {
            #serviceAndPrice {
                font-size: 20px;
                font-weight: 600;
                margin-top: 2%;
                margin-bottom: 8%;
                @include tabletP {
                    width: 100%;
                    margin-top: 4%;
                    margin-bottom: 5%;
                }
                @include tabletL {
                    margin-top: 3%;
                    margin-bottom: 3.5%;
                }
                @include desktop {
                    margin-top: 3.5%;
                    font-size: 25px;
                }
            }
            .serviceAndPriceLists {
                @include tabletP {
                    column-count: 2;
                }
                @include tabletL {
                    column-count: 3;
                }
                @include desktop {
                    column-count: 3;
                }
            }
        }
        .serviceNPrice,
        .hours {
            table,
            tbody,
            th,
            td {
                #day {
                    text-align: left;
                    padding-right: 7.3rem;
                    // padding-right: 40%;
                    @include mobileS {
                        padding-right: 10rem;
                    }
                    @include mobileM {
                        padding-right: 10.7rem;
                    }
                    @include mobilePixel {
                        padding-right: 13rem;
                    }
                    // @include mobileIphonePlus {
                    //   padding-right: 13rem;
                    // }
                    @include mobileMtoL {
                        padding-right: 13.6rem;
                    }
                    @include mobileLtoTabletP {
                        padding-right: 21rem;
                    }
                    @include tabletP {
                        padding-right: 9rem;
                    }
                    @include tabletL {
                        padding-right: 15.3rem;
                    }
                    @include desktop {
                        padding-right: 17rem;
                    }
                }
                #service {
                    text-align: left;
                    padding-right: 6.7rem;
                    // padding-right: 50%;
                    padding-bottom: 8%;
                    @include mobileS {
                        padding-right: 9.4rem;
                    }
                    @include mobileM {
                        padding-right: 10.2rem;
                    }
                    @include mobilePixel {
                        padding-right: 12.5rem;
                    }
                    // @include mobileIphonePlus {
                    //   padding-right: 12.5rem;
                    // }
                    @include mobileMtoL {
                        padding-right: 13.1rem;
                    }
                    @include mobileLtoTabletP {
                        padding-right: 20.5rem;
                    }
                    @include tabletP {
                        padding-right: 8.5rem;
                    }
                    @include tabletL {
                        padding-right: 6rem;
                    }
                    @include desktop {
                        padding-right: 5rem;
                    }
                }
                font-size: 15px;
                font-weight: 500;
                text-align: right;
                padding-top: 1%;
                padding-left: 1.5rem;
                padding-bottom: 6%;
                @include desktop {
                    font-size: 20px;
                }
            }
        }
        // Designer Bottom - ReviewContainer
        #reviewTitle {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 7%;
            @include desktop {
                margin-top: 2%;
                font-size: 25px;
            }
        }
        // Designer Bottom - Review
        .review {
            margin-right: 0;
            .ant-card-small {
                .ant-card-body {
                    padding-bottom: 0;
                    @include desktop {
                        font-size: 20px;
                    }
                }
                margin: 0 auto;
                width: 90vw;
                @include tabletP {
                    width: 35vw;
                }
                @include desktop {
                    width: 30vw;
                }
            }
            .reviewDate {
                display: inline;
                float: right;
            }
            .reviewContentContainter {
                display: block;
                .reviewContent {
                    margin-bottom: 0;
                }
            }
            #reviewCustomerName {
                font-weight: bold;
            }
            .ant-rate {
                font-size: 1rem;
                line-height: 1;
                .ant-rate-star {
                    margin: 0 1px 0 0;
                }
                &-star {
                    >div {
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }
            }
            margin: 1.5rem auto;
            padding: 0;
            text-align: left;
            position: relative;
            .reviewHeader {
                display: flex;
                align-items: center;
                padding: 0.25rem 0;
                .reviewCustomerNrate {
                    display: flex;
                    align-items: center;
                }
                .reviewCustomer {
                    flex-shrink: 0;
                    font-size: larger;
                    font-weight: bold;
                    width: fit-content;
                }
                .reviewRate {
                    width: 100px;
                    text-align: center;
                    flex-shrink: 0;
                }
                .reviewGalleryContainer {
                    padding: 0 0 0 1rem;
                }
                .reviewGalleryContainer {
                    width: 90%;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    .reviewImgDiv {
                        margin: 0.5rem;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                        img:hover {
                            opacity: 0.8;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .reviewContent {
            display: inline-flex;
        }
        // Designer Bottom - Location
        .location {
            #locationTitle {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 9%;
                @include tabletP {
                    margin-top: 3%;
                }
                @include tabletL {
                    margin-top: 2%;
                }
                @include desktop {
                    font-size: 25px;
                    margin-top: 4%;
                    margin-bottom: 4%;
                }
            }
            .googleMap {
                width: 100vw;
                height: 50vh;
                margin: 1rem auto;
                @include tabletP {
                    width: 90vw;
                    height: 60vh;
                }
                @include desktop {
                    width: 70vw;
                }
            }
            .marker {
                color: $white;
                background-color: $black;
                padding: 15px 10px;
                display: inline-flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .backTopButton {
        line-height: 40px;
        border-radius: 50%;
        background-color: $black;
        color: $white;
        text-align: center;
        position: absolute;
        width: 100%;
        right: -8px;
        bottom: 24px;
    }
}

.workImgModal {
    max-width: 100%;
    @include tabletP {
        top: 25%;
    }
    @include desktop {
        width: 100px;
    }
    .ant-modal-content {
        margin: 0 auto;
        width: 100vw;
        height: calc(100vw + 32px);
        @include tabletP {
            width: 50vw;
            height: calc(50vw + 32px);
        }
        @include tabletL {
            width: 40vw;
            height: calc(40vw + 32px);
        }
    }
    .ant-modal-body {
        padding: 12px 0 24px 0;
        width: inherit;
        height: inherit;
        .slick-slider {
            .slick-slide img {
                margin: auto;
            }
            .slick-next {
                right: 16px;
                z-index: 1;
            }
            .slick-prev {
                left: 16px;
                z-index: 1;
            }
            .slick-prev:before,
            .slick-next:before {
                color: $white;
            }
            .workImgInSlider {
                width: calc(100vw - 20px);
                height: calc(100vw - 20px);
                @include tabletP {
                    width: calc(50vw - 20px);
                    height: calc(50vw - 20px);
                }
                @include tabletL {
                    width: calc(40vw - 20px);
                    height: calc(40vw - 20px);
                }
            }
        }
    }
    .ant-modal-close,
    .ant-modal-close-x {
        color: $grey;
        background-color: $white;
        line-height: 1;
        width: 18px;
        height: 18px;
        top: 12px;
        right: 10px;
    }
}

.onFinishMessage {
    width: 60vw;
    margin: 80vh auto 20vh;
    .ant-message-notice-content {
        width: 100%;
        margin: 0 auto;
    }
}