.bookitoFooter {
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;

  .footerContents {
    padding: 7% 5%;

    .supportAndMenu {
      padding: 6px 0;
      font-size: 13.5px;
      font-weight: 405;
      color: darkslategrey;

      @include tabletP {
        padding: 0;
        margin-top: 1.5%;
      }

      @include tabletL {
        padding: 6px 0;
      }
      // display: flex;
      // justify-content: space-between;

      // #support {
      //   visibility: hidden;
      //   font-weight: bold;
      // }

      .footerMenu {
        .footerPtag {
          margin-bottom: 2%;

          @include mobileMtoL {
            margin-top: -1%;
            margin-bottom: 2%;
          }
        }

        .ant-btn-link {
          // padding: 2px 2px;
          font-size: 13.5px;
          font-weight: 405;
          color: darkslategrey;
        }

        @include tabletP {
          display: flex;
          float: right;
          // justify-content: space-evenly;
          margin-top: -2%;
          margin-right: 3%;
        }

        @include tabletL {
          margin-top: -4.2%;
        }

        @include desktopXL {
          // margin-top: -9%;
        }
      }
    }

    .footerDivider {
      margin: 5%;

      @include tabletP {
        margin: 2%;
      }

      @include tabletL {
        margin: -1.5%;
      }

      @include desktopXL {
        margin: -1%;
      }
    }

    .copyright {
      font-size: 13px;
      margin-top: 5%;
      text-align: center;
      // font-weight: bold;
      color: darkgray;

      @include tabletP {
        margin-top: 1%;
        // font-size: 13px;
      }

      @include tabletL {
        margin-top: 2.5%;
      }

      #bktCopyright {
        margin-top: 5%;
        text-align: center;
        // color: $black;

        @include tabletP {
          margin-top: 3%;
        }

        @include tabletL {
          margin-top: 2.5%;
        }
      }
    }
  }

  @include desktop {
    width: 100vw;
    margin-left: calc((1130px - 100vw) / 2);

    .footerContents {
      width: 1130px;
      margin: 0 auto;
      padding: 5% 0;

      @include desktopXL {
        padding: 3% 0;
      }
    }
  }
}
