.howBktWorksModal {
  .ant-modal-body {
    .ant-modal-confirm-body > .anticon {
      display: none;
    }
    .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
      margin-left: 0;
    }
    .ant-modal-confirm-title {
      margin-bottom: 1em;
    }
    .ant-modal-confirm-btns {
      float: none;
      .ant-btn-primary {
        color: $white;
        background: $black;
        border-color: $black;
        width: 100%;
        margin-top: 0.5em;
      }
    }
  }
}

.latestNewsModal {
  .ant-modal-body {
    .ant-modal-confirm-body > .anticon {
      display: none;
    }
    .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
      margin-left: 0;
      .latestNewsText {
        text-align: center;
        height: 200px;
      }
    }
    .ant-modal-confirm-title {
      text-align: center;
      margin-bottom: 1em;
    }
    .ant-modal-confirm-btns {
      float: none;
      .ant-btn-primary {
        color: $white;
        background: $black;
        border-color: $black;
        width: 100%;
        margin-top: 0.5em;
      }
    }
  }
}

.helpCentreModal {
  .ant-modal-body {
    .ant-modal-confirm-body > .anticon {
      display: none;
    }
    .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
      margin-left: 0;
    }
    .ant-modal-confirm-title {
      text-align: center;
      margin-bottom: 1em;
    }
    .helpCenterText {
      text-align: center;
    }
    .sendMsgBtn {
      text-align: center;
      .ant-btn-link {
        border-color: lightgrey;
        color: $bookito;
        // color: $black;
        border-radius: 20px;
        font-weight: 500;
      }
    }

    .ant-modal-confirm-btns {
      float: none;
      .ant-btn-primary {
        color: $white;
        background: $black;
        border-color: $black;
        width: 100%;
        margin-top: 0.5em;
      }
    }
  }
}
