@import "../Mixin.scss";

$marginFromTablet: 10%;

#header {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  @include desktop {
    padding: 0 10%;
  }
}

#logo a {
  text-decoration: none;
  color: $black;
  font-size: x-large;
  font-weight: bold;
}

#logo {
  width: 150px;
}

#menuBtn {
  @include tabletP {
    margin-left: auto;
    align-items: center;

    .ant-btn {
      width: 80px;
      height: 40px;
    }
  }
}
.ant-drawer-content-wrapper {
  width: 60%;
}

.ant-drawer-body {
  padding: 0;
}

// menu dropdown menu container
.ant-dropdown-menu {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;

  .ant-dropdown-menu-item {
    padding: 10px;
  }
}
