.logo a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bold;
}

.logo {
  width: 150px;
}

.hambergerBtn {
  width: 50px;
}

.ant-drawer-content-wrapper {
  width: 60%;
}

.ant-drawer-body {
  padding: 0;
}
