.designerListFilter {
    .designerListFilterInner {
        padding: 10px 5%;

        .filterBtn {
            border-radius: 20px;
            margin-top: 4px;
            margin-right: 4px;
            max-width: 32vw;
            padding-left: 13px;
            padding-right: 13px;
        }
        .ant-btn:hover, .ant-btn:focus {
            color: black;
        }
        .sortBtn {
            margin-right: 0;
            float: right;
            padding-left: 11px;
            padding-right: 11px;
        }
        .numberOfDesigners {
            font-size: 18px;
            margin-left: 4px;
            margin-top: 6px;
        }
        .ant-collapse-header {
            visibility: hidden !important;
            padding: 0;
        }
        .ant-collapse-content-box {
            padding: 0 !important;
        }
        .designerListFilterConfirm {
            border-radius: 20px;
        }
        .designerListFilterTags {
            padding: 4px;
            margin-top: 10px;
            margin-bottom: 10px;

            // .designerListFilterTagsDivider {
            //     margin: 0;
            //     margin-top: 10px;
            //     margin-bottom: 10px;
            // }
        }
    }
    .designerCardComponentDividerTop {
        margin: 0;
    }
    .designerCardComponentDividerBottom {
        margin: 0;
        margin-bottom: 14px;
    }
}