@import "../../Mixin.scss";

.listingContainer {
  height: 90vh;
  width: 100%;
  overflow-y: scroll;

  .designerContainer {
    height: 100%;

    @include tabletP{
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      float: left;
    }

    .listingBase {
      height: 99.99%; // required for infinite scrolling
      overflow: auto; // required for infinite scrolling
      padding-top: 95px;

      @include tabletP{
        width: 100%;
      }

      .ant-spin-dot-item {
        background-color: $black;
      }
    }

    .ant-drawer-content-wrapper {
      width: 100vw !important; // Makes drawer full screen
    }

    .listNavBar {
      width: 100%;
      // border: 1px blue solid;

      .filter {
        position: fixed;
        top: 55px;
        height: 95px;
        width: 100%;
        transition: 1s;
        background: $white;
        z-index: 1;
      
        @include desktop{
          top: 65.5px;
          width: 1130px;
        }
      }
      .designerListOpenMapMobile {
        // position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 20px;
        z-index: 10;

        position: fixed;
        height: 36px;
        border-radius: 20px;
        transition: 1s;
      }
    }

    .designerList {
      // border: 1px blue solid;
    }
  }

  .designerContainerMapVisible {
    @include tabletP{
      width: 60vw;
      float: left;
    }
  }
  .mapBase {
    position: absolute;
    left: 60vw;
    
    .mapContainer {
      width: 100%;
      @include tabletP{
        position: sticky;
        top: 0;
        width: 39.1vw; // 40VW - 0.9vw to accomodate for scrollbar
      }
    }
  }

  .mapCloseButton {
    position: absolute;
    margin: 1em;
    z-index: 1;
  }

  .desktopOnly {
    display: none;
    @include tabletP{
      display: block;
    }
  }

  .mobileOnly {
    display: block;
    @include tabletP{
      display: none;
    }
  }
}
