.listingContainer {
  border: 1px black solid;
  height: 90vh;
}

.designerContainer {
  border: 1px red solid;
  display: flex;
  flex-direction: column;

  .listNavBar {
    width: 100%;
    height: 15%;
    border: 1px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .filter {
      // height: 30%;
      border: 1px saddlebrown solid;
    }
  }

  .designerList {
    width: 100%;
    height: 85%;
    border: 1px blue solid;
  }
}

.mapContainer {
  border: 1px green solid;
}
