@import "../../Mixin.scss";

.listingContainer {
  height: 90vh;
  width: 100%;
  overflow-y: scroll;

  .designerContainer {
    height: 100%;

    @include tabletP{
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      float: left;
    }

    .listingBase {
      @include tabletP{
        width: 100%;
      }
    }

    .ant-drawer-content-wrapper {
      width: 100vw !important; // Makes drawer full screen
    }

    .listNavBar {
      width: 100%;
      // border: 1px blue solid;

      .filter {
        height: 30%;
        // border: 1px saddlebrown solid;
      }
      .designerListOpenMapMobile {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 5vh;
        z-index: 10;

        height: 38px;
        border-radius: 20px;
      }
    }

    .designerList {
      // border: 1px blue solid;
    }
  }

  .designerContainerMapVisible {
    @include tabletP{
      width: 60vw;
      float: left;
    }
  }
  .mapBase {
    position: absolute;
    left: 60vw;
    
    .mapContainer {
      width: 100%;
      @include tabletP{
        position: sticky;
        top: 0;
        width: 39.1vw; // 40VW - 0.9vw to accomodate for scrollbar
      }
    }
  }

  .mapCloseButton {
    position: absolute;
    margin: 1em;
    z-index: 1;
  }

  .desktopOnly {
    display: none;
    @include tabletP{
      display: block;
    }
  }

  .mobileOnly {
    display: block;
    @include tabletP{
      display: none;
    }
  }
}
