@import "../../Mixin.scss";

.listingContainer {
  border: 1px black solid;
  height: 90vh;


  .designerContainer {
    position: relative;
    border: 1px red solid;
    height: 90vh;
    width: 100vw;

    .ant-drawer-content-wrapper {
      width: 100vw !important;

      @include tabletP{
        width: 49.1vw !important;
      }
    }

    
  
    @include tabletP{
      width: 50%;
      float: left;
    }

    .listNavBar {
      width: 100%;
      border: 1px blue solid;

      .filter {
        height: 30%;
        border: 1px saddlebrown solid;
      }
      //.sorter {
      //  height: 30%;
      //  width: 50%;
      //  border: 1px saddlebrown solid;
      //  float: right;
      //}
    }

    .designerList {
      border: 1px blue solid;
    }
  }

  .mapContainer {
    display: none;
<<<<<<< HEAD

    @include tabletP {
      border: 1px green solid;
      display: flex;
      width: 50%;
      float: right;
=======
    position: relative;
  
    @include tabletP{
      border: 1px green solid;
      display: flex;
      // width: 50%;
      // float: right;
>>>>>>> Add map drawer for mobile listing view
    }
  }
}