.DesignerTop {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
  /* border: 1px solid; */
}

.Photo {
  border-radius: 50%;
  margin: 0 16px 16px 0;
  float: left;
}

.DesignerTop Button {
  margin: 0.5rem;
  border-radius: 15px;
}
