.designerTop {
  width: 100%;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 15px;
  border-bottom: 1px solid;
}

.designerTop h2 {
  margin: 0;
}

.photo {
  border-radius: 50%;
  margin: 0 16px 16px 0;
  float: left;
}

.designerTop Button {
  margin: 0.5rem;
  border-radius: 15px;
}
