.clientProfileView {
  margin: 20px;

  .profileForm {
    margin-top: 3vh;
    label {
      font-weight: 700;
    }
    .formItems {
      margin-bottom: 10px;
    }
    hr {
      height: 1px;
      border: none;
      background-color: #dbdbdb;
    }
    .ant-form-item-label {
      padding: 0;
    }
    .saveBtn {
      width: 100%;
      background-color: black;
      color: white;
      margin-top: 25px;
      border: 1px solid black;
      height: 32px;
    }
    .blackBtn {
      margin-top: 25px;
    }

    .profilePhoto {
      text-align: center;
      margin-bottom: 12px;

      .editIcon {
        position: absolute;
      }
    }

    .clientName {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      margin: 0;
    }
    .formTopMargin {
      margin-top: 45px;
    }
    .formBottomMargin {
      margin-bottom: 30px;
    }

    .autocompleteDropdownContainer {
      padding: 4px;
      border: 1px solid lightgrey;
      border-top: 0px;
    }

    .autocompleteDropdownContainer:empty {
      display: none;
    }
  }

  @include clientProfile576 {
    .profileForm {
      width: 500px;
      margin-left: auto;
      margin-right: auto;

      .saveBtn {
        width: 500px;
      }

      .profilePhoto .ant-form-item-control-input {
        width: 500px;
      }

      .clientName .ant-form-item-control-input {
        width: 500px;
      }
    }
    .formItems {
      .ant-form-item-label {
        text-align: left;
      }
    }
  }
}

.changePhotoModal {
  .modalProfilePhoto {
    text-align: center;
  }

  .dragDropContainer {
    border: dashed 2px gray;
    padding: 40px;
    margin: 24px 0px;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .ant-upload.ant-upload-drag {
    border: dashed 2px gray;
    padding: 40px;
    margin: 24px 0px;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
