#mobileSearchBar {
  margin: 0 10%;
  margin-top: 100px;

  .ant-input-affix-wrapper {
    height: 50px;
    border-radius: 25px;
    border: 1px solid #c6c6c6;

    .ant-input {
      margin-left: 20px;
    }

    .ant-input-suffix {
      margin-right: 10px;
      font-size: 20px;
      font-weight: bolder;
    }
  }
}

.autocompleteDropdownContainer {
  box-shadow: 0 1px 3px 0 #1b1b1b;
  padding: 10px;
  position: absolute;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  z-index: 1;
}

.autocompleteDropdownContainer:empty {
  display: none;
}
