.designerBottom {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: auto;
}

.activityNBioGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'activity bio';
}

.activityGrid {
  grid-area: activity;
}

.bioGrid {
  grid-area: bio;
}

.serviceNPriceHoursGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'price hours';
}

.serviceNPriceGrid {
  grid-area: price;
}

.hoursGrid {
  grid-area: hours;
}

@media (max-width: 1025px) {
  .activityNBioGrid {
    display: block;
  }

  .serviceNPriceHoursGrid {
    display: block;
  }
}
