.hours {
  width: 80%;
  height: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  text-align: center;
  border-radius: 25px;
  box-shadow: 10px 20px 20px #dce7fc, 1px 10px 10px #dae6ff;
}

.hours table,
th,
td {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1025px) {
  .hours {
    width: 90%;
  }
}
