.review {
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 10px 20px 20px #dce7fc, 1px 10px 10px #dae6ff;
  // display: grid;
  // grid-template-columns: 3fr 1fr;
  // grid-template-areas:
  //   'reviewNameNRate reviewCarousel'
  //   'reviewContent reviewCarousel';
  position: relative;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reviewNameNRate {
  grid-area: reviewNameNRate;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.reviewNameNRate strong {
  font-size: 1.2rem;
}

.slick-slide img {
  margin: auto;
}

.reviewImgDiv {
  margin: 0.5rem;
  display: inline-block;
}

.reviewContent {
  grid-area: reviewContent;
  display: inline-flex;
  margin-right: 0.5rem;
}

.slick-next {
  right: -10px;
}

.slick-prev {
  left: -10px;
}

.slick-prev:before,
.slick-next:before {
  color: #1890ff;
}
