.review {
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 10px 20px 20px #dce7fc, 1px 10px 10px #dae6ff;
  position: relative;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reviewHeader {
  display: flex;
  align-items: center;

  .reviewCustomer {
    flex-shrink: 0;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    width: fit-content;
  }

  .reviewRate {
    width: 120px;
    text-align: center;

    .ant-rate {
      font-size: 1rem;
      line-height: 1;

      .ant-rate-star {
        margin: 0;
        padding: 0 0.125rem;
      }
    }
  }

  .reviewGalleryContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .reviewImgDiv {
      margin: 0.5rem;

      img {
        width: 50px;
        height: 50px;
        border-radius: 15px;
      }

      img:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

.slick-slide img {
  margin: auto;
}

.slick-next {
  right: -10px;
}

.slick-prev {
  left: -10px;
}

.slick-prev:before,
.slick-next:before {
  color: #1890ff;
}

.reviewContent {
  display: inline-flex;
  margin-right: 0.5rem;
}
