@import "../../Mixin.scss";

.addAppointmentModal {
  width: 300px;
  height: 480px;
  margin: auto auto;
  .MuiPaper-rounded {
    border-radius: 0;
    height: 100vh;
  }
  .MuiDialog-paperWidthSm {
    width: 100%;
  }

  .MuiDialog-paper {
    margin: 0;
  }

  .modalHeader {
    border-bottom: 1px solid #f0f0f0;
    padding: 16px 24px;
    column-count: 2;
    .headerTitleCol {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }
    .headerDeleteCol {
      text-align: right;
    }
  }
  .modalContent {
    padding: 50px 24px;
    height: 100vh;
  }
  .form {
    padding: 0 20px;
    .MuiIconButton-root {
      padding: 0;
    }
    .extraMargin {
      margin-top: 20px;
    }
  }
}

.MuiPickersToolbar-toolbar {
  background-color: black !important;
}

.MuiPickersClock-pin {
  background-color: black !important;
}
.MuiPickersClockPointer-pointer {
  background-color: black !important;
}
.MuiPickersClockPointer-thumb {
  border: 14px solid black !important;
}
.MuiButton-label {
  color: black;
}
