.editDesignerCalendar {
  width: 80%;
  height: 400px;
  border: 1px solid #f0f0f0;
  text-align: center;
  // border-radius: 2px;
}

#designerName {
  text-align: center;
}

.service {
  margin-left: 50px;
}

p {
  margin-left: 100px;
}

#selectDay {
  margin-left: 0;
}

.timeButtons {
  margin-top: 30px;
  margin-left: 20px;
}

.confirmation {
  height: 385.5px;
  width: 600px;
  margin-top: 50px;
  margin-left: 130px;
}

.bookingContents {
  text-align: center;

  // .content {
  // }
}
