@import "../../Mixin.scss";

.searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.designerTypeCarousel {
  margin: 20px 0 0 0;
}

.locationInput {
  margin-top: 20px;
  padding: 0 20px;
}
