.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:auto;
}
.searchBarText{
    margin-right: 20px;
}
.locationInput{
    min-width: 350px;
    margin-top: 15px;
}
